.faq-question {
    max-width: 96vw;
}

.panel-title {
    color: #555;
    font-weight: bold;
    margin-left: 40px;
    font-size: 1.1rem;
    position: relative;
    display: block;
    cursor: pointer;
    padding-top: 0.9rem;
}

.panel-content {
    color: #555;
    font-size: 1rem;
    margin-left: 40px;
    padding-top: 2px;
    height: 0;
    overflow: hidden;
    z-index: -1;
    position: relative;
    opacity: 0;
    -webkit-transition: .4s ease;
    -moz-transition: .4s ease;
    -o-transition: .4s ease;
    transition: .4s ease;
}

.panel:checked~.panel-content {
    height: auto;
    opacity: 1;
    padding: 1px;
    color: #555;

}

.panel:checked~.panel-title {
    opacity: 1;
    color: #555;
}

.panel {
    display: none;
}

.social-container {
    display: none;
}

.whatsapp-link {
    position: fixed;
    width: 55px;
    height: 55px;
    bottom: 15px;
    right: 15px;
    background-color: #fff;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 40px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
}

.whatsapp-link .fa-brands {
    color: #949494;
}

.whatsapp-link .fa-brands:hover,
.msg:hover {
    color: #5a5a5a;
}

@media (max-width: 576px) {
    .social-container {
        display: block;
    }
}