html,
body {
    overflow-x: hidden;
}

.container-home-media {
    height: 90vh;
}


.swiper-slide img {
    margin-top: 3px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0.4rem;
    max-height: 90vh;
    /* object-fit: scale-down; */

}

.swiper-button-prev::after,
.swiper-button-next::after {
    display: none;
}

.swiper-button-prev img {
    transform: rotate(180deg);
}

/* @media (max-width: 576px) {

} */