html,
body {
    overflow: hidden;
}

.container-home-media {
    height: 100vh;
}

.container-home {
    margin-top: 10px;
}

.center-image-container img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.swiper-slide img {
    border-radius: 0.4rem;
    max-height: 88vh;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    display: none;
}

.swiper-button-prev img {
    transform: rotate(180deg);
}

@media (max-width: 576px) {
    .swiper-slide img {
        border-radius: 0px;
        max-height: none;
    }

    .bg-body-tertiary-custom {
        border-bottom: none !important;
    }
}