html,
body {
    overflow-x: hidden;
}

.swiper-wrapper img {
    margin-top: 3px;
    border-radius: 0.4rem;
    max-height: 90vh;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    display: none;
}

.swiper-button-prev img {
    transform: rotate(180deg);
}