/* perfil.html */

.row {
    width: 100%;
    height: 100%;
}

.profile-container {
    height: 90vh;
    max-width: 90vw;
}


.img-profile {
    height: 70vh;
    margin: 0 auto;
}

.img-profile img {
    display: block;
    margin: auto;
    height: 100%;
    width: auto;
    border-radius: 0.4rem;
}

.text-profile {
    font-size: 1rem;
    text-align: justify;
    color: #555;
}

.title-profile {
    font-size: 1.5rem;
    color: #555;
    text-transform: uppercase;
}

/* Services */
/* gio centralizar a div totalmente na vertical */
/* ALINHAR OS PARAGRAFOS COM A LOGO */
/* deixar o h2 proximo do p */
.services-container {
    display: flex;
    /* padding: 2rem 2.5rem; */
    padding-top: 1rem;
    max-width: 100%;
    max-height: 90vh;
    /* margin: 0 auto; */
    margin-left: 2.5rem;
    margin-top: 3rem;
    margin-right: 2.5rem;
    /* GAMBIARRA*/
    box-sizing: border-box;
    overflow: hidden;
}

.services-text h2 {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 1rem;
    color: #555;
}

.services-text p {
    margin-bottom: 2rem;
    margin-top: 0.1rem;
    font-size: 1rem;
    text-align: justify;
    /* color: #949494; */
    color: #555;

}

/* 