/* perfil.html */
html,
body {
    overflow: hidden;
}

.row {
    width: 100vw;
    height: 90vh;
    --bs-gutter-x: 0rem;
}

.col-md-5 {
    padding: 0;
}

.profile-content {
    display: flex;
    align-items: center;
    margin-left: 140px;
    margin-top: 70px;
}

.img-profile {
    height: 70vh;

}


.img-profile img {
    display: block;
    margin: auto;
    height: 100%;
    width: auto;
    border-radius: 0.4rem;
}

.text-profile {
    margin-left: 40px;
    margin-right: 20px;
    max-width: 570px;
    font-size: 1rem;
    text-align: justify;
    color: #555;
}

.title-profile {
    font-size: 1.5rem;
    color: #555;
    text-transform: uppercase;
}


@media (max-width: 767.98px) {

    html,
    body {
        overflow-y: visible;
    }

}

@media (max-width: 992px) {

    html,
    body {
        overflow-y: visible;
    }

    .img-profile {
        margin-top: 6px;
        margin-bottom: 6px;
    }

    .title-profile {
        display: flex;
        justify-content: center;
    }

    .text-profile {
        /* padding-left: 10px; */
        margin-right: 40px;
        max-width: none;
    }

    .profile-content {
        display: block;
        align-items: center;
        margin-top: 20px;
        margin-left: 0px;
    }
}