.services-container {
    display: flex;
    padding-top: 0.5rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    box-sizing: border-box;
}

.services-text h2 {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 1rem;
    color: #000;
}

.services-text p {
    margin-bottom: 2rem;
    margin-top: 0.1rem;
    font-size: 1rem;
    text-align: justify;
    color: #555;

}

.services-text {
    padding: 0;
    margin-top: 25px;
}

.social-container {
    display: none;
}

.whatsapp-link {
    position: fixed;
    width: 55px;
    height: 55px;
    bottom: 15px;
    right: 15px;
    background-color: #fff;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 40px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
}

.whatsapp-link .fa-brands {
    color: #949494;
}

.whatsapp-link .fa-brands:hover,
.msg:hover {
    color: #5a5a5a;
}

@media (max-width: 576px) {
    .social-container {
        display: block;
    }
}