/* Geral */
* {
    padding: 0;
    margin: 0;
    font-family: 'Calibri Light', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #949494;
    transition: 0.4s;
}

nav a.active {
    color: #5a5a5a;
    font-weight: bold;
}

a:hover {
    color: #5a5a5a;
}

/* header */

/* header {
    display: flex;
    text-align: center;
} */
header {

    box-sizing: border-box;
    border-bottom: 2px solid #ddd;


}

body {
    /* overflow-x: hidden; */
    /*   */
    /* margin: 0;
    padding: 0;
    height: 100%; */
    /* overflow: hidden; */

}

/* Navbar */



#navbar {
    padding: 1.5rem 2.5rem;
}

#navbar-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1;
    margin: 0 auto;
}

#nav-links {
    display: flex;
    gap: 1rem;
}

#logo-img {
    display: flex;
    justify-content: space-between;
    padding: 0 auto;
}

#logo-img img {
    width: 120px;
    /* 50% do tamanho original */
    height: auto;
    /* altura automática para manter a proporção */

}

/* main */

main {
    /* padding-top: 1rem; */
}

/* .container-home {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    /* gap: 20px;
    padding: 20px; 
}*/

.home-swiper-container {

    margin: 0 auto;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    text-align: center;
}

.swiper-wrapper {
    display: flex;
    align-items: center;

}

.swiper-wrapper img {
    height: 80vh;
    width: auto;
    object-fit: cover;


}

/* perfil.html */


.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;

}

#img-profile {
    margin-left: 3rem;

}

#img-profile img {
    height: 90%;
    width: auto;
    object-fit: contain;
}

#text-profile {
    margin-bottom: 1rem;
    margin: 2rem;
    max-width: 60rem;
    font-size: 1.2rem;
    padding-bottom: 14rem;
    text-align: justify;

}

#title-profile {
    margin-bottom: 2rem;
}

/* Services */

.services-container {
    display: flex;
    /* padding: 2rem 2.5rem; */
    padding-top: 1rem;
    max-width: 90%;
    max-height: 90vh;
    margin: 0 auto;
    box-sizing: border-box;
    overflow: hidden;
}

/* .services-text h2 {
    margin-bottom: 1rem;
    margin-top: 1rem;
} */

.services-text p {
    margin-bottom: 0.8rem;
    margin-top: 0.8rem;
    font-size: 1rem;
    text-align: justify;
}

/* Projetos */

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2vw;
    padding: 0 1vw;

}

.gallery-items {
    /* display: flex; */

    /* width: 340px;
    height: 250px; */
    display: relative;
    width: 260px;
    height: 180px;
    border: 5px solid #fff;
    box-shadow: 1px 1px 1px #ddd;
    flex-grow: 1;
    transition: transform 0.3s linear;
}

.gallery-items img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.gallery-items:hover {
    transform: scale(1.1);
    filter: opacity(60%);

}

.hover-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    display: none;
    color: #5a5a5a;
}

.gallery-items:hover .hover-text {
    display: block;
}

/* .project-name:hover {
    display: block;
} */



/* depoimentos */

/* .text-div {
    background-color: #949494;
    color: #5a5a5a;
    max-height: 1400px;
    max-width: 600px;
} */

.depoimentos-container {
    height: 90vh;
    position: relative;

}

/* #swiper-wrapper-center {
    position: relative;

} */
/* .swiper-depoimentos-container {

    margin: 1rem 2rem auto;
}

.swiper-slide {
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;

} */

.swiper-depoimentos-container {}



.text-div h2 {
    margin-bottom: 5px;
    color: #333;
}

.text-div p {
    font-style: italic;
    color: #777;
}

.text-div {
    max-width: 400px;
    height: auto;
    margin: 0 auto;
    margin-top: 5rem;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}


/* duvidas */
.faq-content {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.faq-question {
    flex: 0 0 calc(50% - 20px);
    /* Duas colunas com margem entre elas */
    box-sizing: border-box;
    padding: 20px;
    border-bottom: 1px dotted #949494;
    max-width: 90vh;
}

.panel-title {
    color: #5a5a5a;
    font-size: 1.1rem;
    width: 100%;
    /* Ajuste para ocupar toda a largura da faq-question */
    position: relative;
    margin: 0;
    padding: 10px 10px 0 48px;
    display: block;
    cursor: pointer;
}

.panel-content {
    color: #949494;
    font-size: 1rem;
    padding: 0px 14px;
    margin: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    position: relative;
    opacity: 0;
    -webkit-transition: .4s ease;
    -moz-transition: .4s ease;
    -o-transition: .4s ease;
    transition: .4s ease;
}

.panel:checked~.panel-content {
    height: auto;
    opacity: 1;
    padding: 14px;
}

.plus {
    position: absolute;
    margin-left: 20px;
    margin-top: 4px;
    z-index: 5;
    font-size: 42px;
    line-height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
}

.panel:checked~.plus {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.panel {
    display: none;
}




/* Contato */

.form-container {
    padding: 7rem;
}

.contato-container {
    height: 85vh;
    width: auto;

}

.form-message textarea {
    max-width: 400px;
    max-height: auto;
    resize: none;
    border: 0;
    outline: 0;
}

.col {
    max-width: 400px;
    height: auto;
    border-bottom: 1px solid #5a5a5a;
    padding: 1rem;
}

.form-row input {
    border: none;

}

.form-message {
    max-width: 400px;
    height: auto;
    border-bottom: 1px solid #5a5a5a;
    padding: 1rem;

}

.form-message textarea {
    border: none;
    width: 400px;
}


button {
    background-color: #fff;
    color: #949494;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.4s;
}

button:hover {
    color: #5a5a5a;
    font-weight: bold;
}

/* Adaptação para tela menor (por exemplo, tablet ou celular) */
@media screen and (max-width: 768px) {
    .faq-question {
        flex: 0 0 100%;
        /* Uma coluna em telas menores */
    }
}