/* Geral */
* {
    padding: 0;
    margin: 0;
    font-family: Georgia;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #949494;
    transition: 0.4s;
}

nav a.active {
    color: #5a5a5a;
    /* font-weight: bold; */
}

a:hover {
    color: #5a5a5a;
}

/* header */

/* header {
    display: flex;
    text-align: center;
} */
header {

    box-sizing: border-box;
    border-bottom: 2px solid #ddd;


}

body {
    /* overflow-x: hidden; */
    /*   */

}

/* Navbar */



#navbar {
    padding: 1.5rem 2.5rem;
}

#navbar-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1;
    margin: 0 auto;
}

#nav-links {
    display: flex;
    gap: 1rem;
}

#logo-img {
    display: flex;
    justify-content: space-between;
    padding: 0 auto;
}

#logo-img img {
    width: 120px;
    /* 50% do tamanho original */
    height: auto;
    /* altura automática para manter a proporção */

}

/* main */

main {
    /* padding-top: 1rem; */
}

.swiper-container {

    margin: 0 auto;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    text-align: center;
}

.swiper-wrapper {
    height: 80vh;

}

.swiper-wrapper img {
    height: 80vh;
    width: auto;
    object-fit: cover;


}

/* perfil.html */


.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;

}

#img-profile {
    margin-left: 3rem;

}

#img-profile img {
    height: 90%;
    width: auto;
    object-fit: contain;
}

#text-profile {
    margin-bottom: 1rem;
    margin: 2rem;
    max-width: 60rem;
    font-size: 1.2rem;
    padding-bottom: 14rem;
    text-align: justify;

}

#title-profile {
    margin-bottom: 2rem;
}

/* Services */

.services-container {
    display: flex;
    padding: 2rem 2.5rem;
    max-width: 1200px;
    margin: 0 auto;
}

.services-text h2 {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.services-text p {
    font-size: 1.1rem;
    text-align: justify;
}

/* Projetos */



.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2vw;
    padding: 0 1vw;
}

.gallery-items {
    display: flex;

    /* width: 340px;
    height: 250px; */

    width: 260px;
    height: 180px;
    border: 5px solid #fff;
    box-shadow: 1px 1px 1px #ddd;
    flex-grow: 1;
    transition: transform 0.3s linear;
}

.gallery-items img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-items:hover {
    transform: scale(1.1);
    filter: opacity(60%);

}

.project-name {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.7);
    /* Fundo semi-transparente */
    padding: 10px;
    text-align: center;
}

/* depoimentos */

/* .text-div {
    background-color: #949494;
    color: #5a5a5a;
    max-height: 1400px;
    max-width: 600px;
} */

.depoimentos-container {
    height: 90vh;
    position: relative;

}

/* #swiper-wrapper-center {
    position: relative;

} */
/* .swiper-depoimentos-container {

    margin: 1rem 2rem auto;
}

.swiper-slide {
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;

} */

.swiper-depoimentos-container {}



/* .text-div h2 {
    margin-bottom: 5px;
    color: #333;
}

.text-div p {
    font-style: italic;
    color: #777;
}
*/
.text-div {
    max-width: 400px;
    height: auto;
    margin: 0 auto;
    margin-top: 5rem;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}













/* duvidas */
.faq-content {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    align-content: space-between;

}

.faq-question {
    padding: 20px 0;
    border-bottom: 1px dotted #949494;
    max-width: 90vh;
}

.panel-title {
    color: #5a5a5a;
    font-size: 1.1rem;
    width: 70vh;
    position: relative;
    margin: 0;
    padding: 10px 10px 0 48px;
    display: block;
    cursor: pointer;
}

.panel-content {

    color: #949494;
    font-size: 1rem;
    padding: 0px 14px;
    margin: 0 40px;
    height: 0;
    overflow: hidden;
    z-index: -1;
    position: relative;
    opacity: 0;
    -webkit-transition: .4s ease;
    -moz-transition: .4s ease;
    -o-transition: .4s ease;
    transition: .4s ease;
}

.panel:checked~.panel-content {
    height: auto;
    opacity: 1;
    padding: 14px;
}

/* icone */
.plus {
    position: absolute;
    margin-left: 20px;
    margin-top: 4px;
    z-index: 5;
    font-size: 42px;
    line-height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
}

.panel:checked~.plus {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.panel {
    display: none;
}