/* Geral */
* {
    padding: 0;
    margin: 0;
    font-family: 'Calibri Light', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #949494;
    transition: 0.4s;
    text-transform: uppercase;
}

nav a.active {
    color: #5a5a5a;
    font-weight: bold;
}

a:hover {
    color: #5a5a5a;
}

/* header */

/* header {
    display: flex;
    text-align: center;
} */
header {
    box-sizing: border-box;
    border-bottom: 1px solid #ddd;
}

body {
    overflow-x: hidden;
    /*   */
    /* margin: 0;
    padding: 0;
    height: 100%; */
    /* overflow: hidden; */

}

/* Navbar */



#navbar {
    padding: 1rem 2.5rem;
}

#navbar-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1;
    margin: 0 auto;
}

#nav-links {
    display: flex;
    gap: 1rem;
}

#logo-img {
    display: flex;
    justify-content: space-between;
    padding: 0 auto;
}

#logo-img img {
    width: 120px;
    /* 50% do tamanho original */
    height: auto;
    /* altura automática para manter a proporção */

}

/* main */

main {
    /* padding-top: 1rem; */
}

/* .container-home {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    /* gap: 20px;
    padding: 20px; 
}*/
/* #container-home {
    width: 90vh;
} */

/* .carousel-item {
    height: 90vh;

    transition: transformation 1.5s ease;
} */

/* 
.carousel-item img {

    height: 90vh;
    object-fit: cover;
    

} */

/* objetic-fit scale down */

.home-swiper-container {
    display: flex;
    justify-content: center;
    text-align: center;
}

/* .swiper-wrapper {
    display: flex;
    align-items: center;

} */

.swiper-wrapper img {
    height: 89vh;
    margin-top: 5px;
    border-radius: 0.4rem;

}



/* perfil.html */

.row {
    width: 100%;
    height: 100%;
}

.profile-container {
    height: 90vh;
    max-width: 90vw;
}


.img-profile {
    height: 70vh;
    margin: 0 auto;
}

.img-profile img {
    display: block;
    margin: auto;
    height: 100%;
    width: auto;
    border-radius: 0.4rem;
}

.text-profile {
    font-size: 1rem;
    text-align: justify;
    color: #555;
}

.title-profile {
    font-size: 1.5rem;
    color: #555;
    text-transform: uppercase;
}

/* Services */
/* gio centralizar a div totalmente na vertical */
/* ALINHAR OS PARAGRAFOS COM A LOGO */
/* deixar o h2 proximo do p */
.services-container {
    display: flex;
    /* padding: 2rem 2.5rem; */
    padding-top: 1rem;
    max-width: 100%;
    max-height: 90vh;
    /* margin: 0 auto; */
    margin-left: 2.5rem;
    margin-top: 3rem;
    margin-right: 2.5rem;
    /* GAMBIARRA*/
    box-sizing: border-box;
    overflow: hidden;
}

.services-text h2 {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 1rem;
    color: #555;
}

.services-text p {
    margin-bottom: 2rem;
    margin-top: 0.1rem;
    font-size: 1rem;
    text-align: justify;
    /* color: #949494; */
    color: #555;

}

/* Projetos */
/* gio deixar no meio da tela a gallery https://www.danielaandradearquitetura.com/arquitetura-residencial  */
/* nao quebrar linha do hover text */
/* colocar image em pt br dentro do gallery */
.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2vw;
    padding: 0 1vw;
    margin-left: 9rem;
    /*GAMBIARRA*/
    margin-right: 9rem;
    margin-top: 2rem;
    margin-bottom: 2rem;


}

.gallery-items {

    display: relative;
    /* width: 260px;
    height: 180px; */
    width: 200px;
    height: 160px;
    border: 5px solid #fff;
    box-shadow: 1px 1px 1px #ddd;
    flex-grow: 1;
    transition: transform 0.3s linear;
}

.hide {
    display: none;
}

.gallery-items img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.gallery-items:hover {
    transform: scale(1.1);
    filter: opacity(60%);
    text-transform: uppercase;

}

.hover-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 1);
    padding: 10px;
    border-radius: 5px;
    display: none;
    color: #555;
    white-space: nowrap;
}

.gallery-items:hover .hover-text {
    display: block;
}




/* .project-name:hover {
    display: block;
} */



/* depoimentos */
/* gio colocar os pequenos em cima um do outro */
/* colocar seta cinza bold */
/* corrigir todos os tamanhos de texto para o igual da pag serviços */
/* .text-div {
    background-color: #949494;
    color: #5a5a5a;
    max-height: 1400px;
    max-width: 600px;
} */


.my-swiper-slide-dep {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

/* #swiper-wrapper-center {
    display: flex;
} */

.depoimentos-container {
    height: 88vh;
    /* position: relative; */
}

.swiper-depoimentos-container {
    height: 100%;


}



.text-div h2 {
    font-weight: normal;
    margin-bottom: 5px;
    color: #555;
    text-transform: uppercase;
    font-size: 1rem;
}

.text-div p {
    color: #555;
    text-align: justify;
    font-size: 1rem;
}

.text-div {
    max-width: 400px;
    /* height: auto;
    margin: 0 auto;
    margin-top: 2rem; */


    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}



/* Add hover effect if desired */
/* 
.swiper-button-prev {
    background-image: url("../img/prev.png") !important;
}

.swiper-button-next {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%234c71ae'%2F%3E%3C%2Fsvg%3E") !important;
} */

.swiper-button-prev::after,
.swiper-button-next::after {
    display: none;
}

.swiper-button-prev img {
    transform: rotate(180deg);
}





/* duvidas */
/* gio deixar mais escuro a pergunta ao clicar */
/* alinar a box */
/* diminuir o padding entres as perguntas */
.faq-content {
    /* display: flex;
    flex-wrap: wrap;
    margin: 0 auto; */
}

.faq-question {
    /* flex: 0 0 calc(50% - 20px); */
    /* Duas colunas com margem entre elas */
    max-width: 90vw;


    /* max-width: 90vh; */
}

.plus {
    display: none;
    /*gio*/
}

.panel-title {
    color: #555;
    margin-left: 40px;
    font-size: 1.1rem;
    width: 100%;
    /* Ajuste para ocupar toda a largura da faq-question */
    position: relative;
    display: block;
    cursor: pointer;
    padding-top: 0.9rem;
}

.panel-content {
    color: #555;
    font-size: 1rem;
    margin-left: 40px;
    padding-top: 2px;
    height: 0;
    overflow: hidden;
    z-index: -1;
    position: relative;
    opacity: 0;
    -webkit-transition: .4s ease;
    -moz-transition: .4s ease;
    -o-transition: .4s ease;
    transition: .4s ease;
}

.panel:checked~.panel-content {
    height: auto;
    opacity: 1;
    padding: 1px;
    /* color: #303030; */
    color: #000;
}

.panel:checked~.panel-title {
    opacity: 1;
    /* color: #303030; */
    color: #000;
}



/* .plus {
    position: absolute;
    margin-left: 20px;
    margin-top: 4px;
    z-index: 5;
    font-size: 42px;
    line-height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
    color: #555;
} */

/* .panel:checked~.plus {

    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
} */

.panel {
    display: none;
}




/* Contato */

.form-container {
    height: 100%;
}

.col-contato-container {
    height: 90vh;
}

/* .contato-container {
    height: 85vh;
    width: auto;
} */

.form-message textarea {
    max-width: 400px;
    max-height: auto;
    resize: none;
    border: 0;
    outline: 0;
}

.col {
    max-width: 400px;
    height: auto;
    /* border-bottom: 1px solid #5a5a5a; */
    padding: 1rem;
}

.form-row input {
    border: none;

}

.form-message {
    max-width: 400px;
    height: auto;
    /* border-bottom: 1px solid #5a5a5a; */
    padding: 1rem;


}

.form-message textarea {
    border: none;
    width: 400px;

}


button {
    background-color: #fff;
    color: #949494;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.4s;
}

button:hover {
    color: #5a5a5a;
    font-weight: bold;
}



.whatsapp-link {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
}

.fa-whatsapp {
    margin-top: 16px;
}

/* Adaptação para tela menor (por exemplo, tablet ou celular) */
@media screen and (max-width: 768px) {
    .faq-question {
        flex: 0 0 100%;
        /* Uma coluna em telas menores */
    }
}