html,
body {
    overflow: hidden;
}

.container-home-media {
    height: 90vh;

}

.container-home {
    /* height: 88vh; */
    margin-top: 10px;
}

.center-image-container {
    overflow: hidden;
    object-fit: scale-down;
    height: 88vh;
}



.center-image-container img {
    /* width: 100%; */
    /* height: 100%; */
    object-fit: cover;
    height: 100%;

}

.swiper-slide img {
    /* margin-top: 3px; */
    /* padding-left: 10px;
    padding-right: 10px; */
    border-radius: 0.4rem;
    /* max-height: 88vh;
    object-fit: scale-down; */

}

.swiper-button-prev::after,
.swiper-button-next::after {
    display: none;
}

.swiper-button-prev img {
    transform: rotate(180deg);
}

/* @media (max-width: 576px) {

} */