html,
body {
    overflow: hidden;
}

.container-home-media {
    height: 100vh;
}

.container-home {
    margin-top: 10px;
}

.center-image-container img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.swiper-slide img {
    border-radius: 0.4rem;
    max-height: 88vh;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    display: none;
}

.swiper-button-prev img {
    transform: rotate(180deg);
}

@media (max-width: 576px) {
    .swiper-slide img {
        border-radius: 0px;
        max-height: none;
    }

    .bg-body-tertiary-custom {
        border-bottom: none !important;
    }
}

.whatsapp-link {
    position: fixed;
    width: 55px;
    height: 55px;
    bottom: 15px;
    right: 15px;
    background-color: #fff;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 40px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
}


.fa-whatsapp {
    /* margin-top: 16px; */
}

.whatsapp-link .fa-brands {
    color: #949494;
    /* color: #fff; */
}

.whatsapp-link .fa-brands:hover,
.msg:hover {
    color: #5a5a5a;
}
.msg {
    right: 45px;
    /* background: #fff; */
    color: #fff;
    position: fixed;
    width: 165px;
    bottom: 44px;
    text-align: center;
    font-size: 1rem;
    line-height: 31px;
    height: 31px;
    /* border-radius: 100px; */
    z-index: 100;
    /* box-shadow: 1px 1px 2px #888; */
}